.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: red;
  justify-content: space-between;
}

.container__left {
  flex: 1;
  display: flex;
  background: blue;
  font-size: 1.5em;
  
  ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-left: 1.5em;
    
    li {
      margin: .75em;
      color: white;
    }
  }
}


.container__right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
